.post-page-container{
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
    align-items: center;
    
}

.post-image {
    position: relative;
    width: 100%;
    height: 30vh;
    /* max-height: 10vh; */
    /* max-height: fit-content; */
    border-radius: 25px;
    transition: 200ms
}

.post-image:hover{
    transition-property: bottom;
    bottom: 10px;
    transition-duration: 2s;
}