.page-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.pd-edit-delete{
    display: flex;
    gap: 10vw;
    margin-top: 19.92px;
}

.detail-info{
    display: flex;
    gap: 10px;
}

.img-cont{
    display: flex;
    justify-content: center;
}

.img{
    height: 50vh;
    border-radius: 25px;
}

.poster-info{
    /* width: inherit; */
    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin-top: 15px;
}

.comment-form{
    display: flex;
    flex-direction: column;
    gap: 25px
}

.btn{
    display: flex;
    justify-content: center;
}

.textarea{
    border-radius: 2px;
    width: 400px;
    height: 100px
}

.comment-box-and-btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.comments-poster{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comment-cont{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap:30px
}

.comment-content{
    /* border: 2px solid black; */
    padding: 10px;
    border-radius: 15px;
    background-color: rgb(189, 214, 253);
    margin-top: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
}

.caption{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

#posted-by{
    font-family: fantasy;
    font-size:larger
}