.td-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.team-ratings,
.team-creator,
.td-best-player-cont {
    width: 25vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.td-team-creator {
    /* width: 25vw; */
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    /* align-items: flex-start; */
    flex-direction: column;
    font-family: fantasy;
    font-size: x-large;
    /* border: 1px solid black; */
    border-radius: 25px;
    /* padding: 15px; */
    margin-top: 20px
}

.team-ratings {
    margin-top: 10px;
}

.team-creator {
    display: flex;
    /* align-items: flex-start; */
    flex-direction: column;
    font-family: fantasy;
    font-size: x-large;
}


.td-player-info {
    display: flex;
    gap: 10px;
    z-index: -1;
}

.team-detail-rp {
    display: flex;
    gap: 50px;
    margin-top: 0;
}

.td-best-player-cont {
    /* width: 30vw; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    z-index: 1
}

.td-best-player-img {
    height: 29vh;
    background-color: whitesmoke;
    border-radius: 25px;
}

.td-player-img {
    height: 28vh;
    background-color: whitesmoke;
    border-radius: 25px;
    
}

.td-rp-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.td-form {
    display: flex;
    flex-direction: column;
    gap: 20px
}

.comment-cont {
    width: 50%;
}

.td-best-player-img {
    height: 30vh;
}
.td-logo {
    width: 25vw;
    height: 25vh;
}

.player-info {
    width: fit-content
}


.ratings-and-bp {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
}

.comment-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 50vw;
    overflow-wrap: break-word;
    gap:1vh;
    padding:10px;
}

.comment-and-edit-delete {
display: flex;
justify-content: space-between;
align-items: flex-end;
width: 50vw;
gap:50px

}

.comment-btns{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: space-between;
    gap:10px
}

.td-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

