.users{
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2vw;
}

.user-list-info{
    display: flex;
    gap: 5px;
}

.user-list-user{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family:monospace;
    font-size: x-large;
    border: 1px solid black;
    border-radius: 15px;
    padding: 20px;
}

.ul-username{
    font-family: fantasy;
    font-size: xx-large;
}